<!-- Register Form Start -->
<!--<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="bg-light p-4 shadow rounded">
        <h4 class="mb-4 text-center">Register</h4>
        <form>
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="registerEmail">Email address</label>
            <input type="email" class="form-control" id="registerEmail" placeholder="Enter email">
          </div>
          <div class="form-group mb-3">
            <label for="registerPhone">Phone</label>
            <input type="text" class="form-control" id="registerPhone" placeholder="Enter phone number">
          </div>
          <div class="form-group mb-3">
            <label for="registerPassword">Password</label>
            <input type="password" class="form-control" id="registerPassword" placeholder="Password">
          </div>
          <div class="form-group mb-4">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-success">Create Account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>-->
<!-- Register Form End -->


<form #RegisterForm="ngForm" (ngSubmit)="register(RegisterForm.value)">
  <input type="text" ngModel name="FullName" placeholder="Full Name" required />
  <input type="email" ngModel name="Email" placeholder="Email" required />
  <input type="password" ngModel name="PasswordHash" placeholder="Password" required />
  <button type="submit">Register</button>
</form>
