<div class="container py-5">
  <div class="row align-items-stretch" style="min-height: 450px;">
    <div class="col-lg-4 mb-4 mb-lg-0">
      <div class="bg-light d-flex flex-column align-items-center justify-content-center h-100 p-4 shadow rounded">





        <form #EditProfileImageForm="ngForm" (ngSubmit)="EditImage(EditProfileImageForm.value)" >

        <img [src]="profile.Image" alt="User Image">

        <input type="text" ngModel name="Image"/>
        <button type="submit">Upload Image</button>

        </form>

      </div>
    </div>
    <div class="col-lg-8">
      <div class="bg-light p-4 h-100 shadow rounded">
        <h4 class="mb-4">User Information</h4>
        <form #EditProfileForm="ngForm" (ngSubmit)="EditForm(EditProfileForm.value)">
          <div class="form-group mb-3">
            <label for="name">Full Name</label>
            <input type="text" class="form-control" ngModel name="FullName" value="{{ profile.Email }}">
          </div>
          <div class="form-group mb-3">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" ngModel name="PhoneNumber" value="{{ profile.PhoneNumber }}">
          </div>
          <button type="submit">Save Changes</button>
          <a routerLink="/ResetPassword" class="btn btn-primary">Reset Password</a>
        </form>
      </div>
    </div>
  </div>
</div>
