<div class="container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="email">Enter your email</label>
      <input type="email"
             id="email"
             formControlName="email"
             class="form-control"
             [ngClass]="{ 'is-invalid': forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched }" />
      <div *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched" class="invalid-feedback">
        Please enter a valid email.
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Send Reset Code</button>
  </form>
</div>
